<h4>Logger</h4>
<mat-form-field>
  <mat-select placeholder="Name of logger" (selectionChange)="onLoggerSelected($event.value)" [(value)]="selectedLogger">
    <mat-option *ngFor="let logger of loggerDTO.availableLoggers" [value]="logger">
      {{logger}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Level</h4>
<mat-form-field>
  <mat-select placeholder="Level of logger" (selectionChange)="onLevelSelected($event.value)" [(value)]="selectedLogLevel">
    <mat-option *ngFor="let logger of loggerDTO.possibleLogLevels" [value]="logger">
      {{logger}}
    </mat-option>
  </mat-select>
</mat-form-field>

<button mat-button (click)="onLogLevelUpdate()">Update Level</button>
